alembic==1.0.8
attrs==19.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.2.0
dash==0.38.0
dash-core-components==0.43.1
dash-html-components==0.13.5
dash-renderer==0.19.0
dash-table==3.5.0
decorator==4.3.2
Flask==1.0.2
Flask-Compress==1.4.0
flask-marshmallow==0.9.0
Flask-Migrate==2.4.0
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
inflection==0.3.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
jsonstruct==0.2a1
jupyter-core==4.4.0
Mako==1.0.8
MarkupSafe==1.1.0
marshmallow==2.18.0
marshmallow-sqlalchemy==0.15.0
nbformat==4.4.0
numpy==1.16.2
openapi-spec-validator==0.2.4
pathlib==1.0.1
plotly==3.6.1
py4j==0.10.7
pymongo==3.4.0
pyrsistent==0.14.11
pyspark==2.4.0
pyspark-stubs==2.4.0.post1
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
pytz==2018.9
PyYAML==4.2b4
requests==2.21.0
retrying==1.3.3
scikit-learn==0.19.2
scipy==1.2.1
six==1.12.0
SQLAlchemy==1.2.17
swagger-ui-bundle==0.0.3
traitlets==4.3.2
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
