{% extends "bootstrap/base.html" %}
<html>
    <head>
      {% if title %}
      <title>EasyEMR</title>
      {% else %}
      <title>Welcome to EasyEMR</title>
      {% endif %}
    </head>
    <body>
    {% block navbar %}
        <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white;">EasyEMR v0.1</a>
        </div>

     <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
         {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
       <li><a href="{{ url_for('employee', employee_id=current_user.employee_id) }}">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
     </ul>
        </div>
    {% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>