{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
            <p><strong>Employee Id: {{ user.employee_id }}</strong> </p>
    </div>
</div>
<div class="container">
    <button class="btn btn-primary" onclick="toggle_display()"> <strong>+</strong> New Patient</button>
</div>

<div class="patient_form_content_section" style="display : none;">
    <div class="container">
        <form action="" method="post" novalidate>
            {{ patientform.hidden_tag() }}

             {{ wtf.form_field(patientform.name) }}

             {{ wtf.form_field(patientform.age) }}

             {{ wtf.form_field(patientform.gender) }}

             {{ wtf.form_field(patientform.height)}}

             {{ wtf.form_field(patientform.weight) }}

             {{ wtf.form_field(patientform.prescription) }}

             {{ wtf.form_field(patientform.medications) }}

             {{ wtf.form_field(patientform.tests)}}
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}