{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <form class="form form-horizontal" role="form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ wtf.form_field(form.employee_id) }}
            {{ wtf.form_field(form.password) }}
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Sign In">
        </div>
    </form>
</div>

{% endblock %}